layout {

    focus-ring {
        active-color   "#f5453f"
        inactive-color "#0b2454"
        urgent-color   "#ff6b3d"
    }

    border {
        active-color   "#f5453f"
        inactive-color "#0b2454"
        urgent-color   "#ff6b3d"
    }


    tab-indicator {
        active-color   "#f5453f"
        inactive-color "#7c0905"
        urgent-color   "#ff6b3d"
    }

    insert-hint {
        color "#f5453f80"
    }
}

recent-windows {
    highlight {
        active-color "#f5453f"
        urgent-color "#ff6b3d"
    }
}
