layout {

    focus-ring {
        active-color   "#99b6f2"
        inactive-color "#0a1126"
        urgent-color   "#d98886"
    }

    border {
        active-color   "#99b6f2"
        inactive-color "#0a1126"
        urgent-color   "#d98886"
    }


    tab-indicator {
        active-color   "#99b6f2"
        inactive-color "#154ec4"
        urgent-color   "#d98886"
    }

    insert-hint {
        color "#99b6f280"
    }
}

recent-windows {
    highlight {
        active-color "#99b6f2"
        urgent-color "#d98886"
    }
}
